.footer {
	display: flex;
	flex-direction: column;

	width: 360px;
	padding: 0 10px;
	flex-shrink: 0;
	border-radius: 25px;
	border: 1px solid #FFFEFE;

	position: relative;
}

.back__logo {
	background-image: url(../../images/img/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 20px;
	width: 95%;
	height: 200px;
	z-index: 0;
	opacity: 5%;
	
}