.list {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 5px;
}

.link {
	width: 60px;
  	height: 50px;
  	display: flex;
	justify-content: center;
  	background-position: center top;
	background-repeat: no-repeat;
}

.hidden {
	width: 1px;
  	height: 1px;
 	clip: rect(1px, 1px, 1px, 1px);
  	position: absolute;
}

.text__under {
	color: var(--textColor);
	font-family: 'MersadExtraBold';
	font-size: 9px;
	text-transform: uppercase;
	align-self: flex-end;
}

.instagram {
	background-image: url(../../../../images/svg/instagram.svg);
}

.facebook {
	background-image: url(../../../../images/svg/facebook.svg);
}

.telegram {
	background-image: url(../../../../images/svg/telegram.svg);
}

.whatsup {
	background-image: url(../../../../images/svg/whatsup.svg);
}

.mail {
	background-image: url(../../../../images/svg/mail.svg);
}